[submodule "nvim"]
	path = nvim
	url = /home/dhas/.config/nvim/
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "scripts"]
	path = scripts
	url = https://github.com/dhasane/scripts
