[user]
	email = danihas@live.com
	name = dhasane
	signingkey = AF1C224D1A11F7EED2930A932DF842A7A51B4BA2
[core]
	editor = nvim
	excludesfile = /home/daniel/.gitglobalignore
[filesystem "Oracle Corporation|1.8.0_221|/dev/sda8"]
	timestampResolution = 1002 milliseconds
	minRacyThreshold = 0 nanoseconds
[diff]
	tool = nvim -d
[difftool]
	prompt = false
[mergetool "nvim"]
    cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[credential]
	helper = store
[filesystem "Oracle Corporation|12.0.2|/dev/sda8"]
	timestampResolution = 11000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[filesystem "Oracle Corporation|1.8.0_231|/dev/sda8"]
	timestampResolution = 1001 milliseconds
	minRacyThreshold = 0 nanoseconds
[filesystem "N/A|13.0.1|/dev/sda8"]
	timestampResolution = 16000 nanoseconds
	minRacyThreshold = 3613 microseconds
[pull]
	rebase = false
[alias]
    d = difftool
    co = checkout
    br = branch
    ci = commit
    st = status

    gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}'| xargs -r git branch -D"
