#!/bin/sh

[ -f "$HOME/.profile" ] && . "$HOME/.profile"

#[[ -f ~/.Xresources ]] && xrdb -merge -I $HOME ~/.Xresources
# [ -f ~/.Xmodmap ] && xmodmap ~/.Xmodmap

# run()
# {
#     [ "$(command -v "$1")" != "" ] && ${@}
# }

[ "$(command -v picom)" != "" ] && picom --config ~/.config/picom/picom.conf &
# [ "$(command -v compton)" != "" ] && compton --config ~/.config/picom/picom.conf &

# fonts
#xset +fp /home/dhas/.fonts
#xset fp rehash

# source ~/.xprofile
# colores sacados del fondo de pantalla
# wal -Rs &

# quitar el mouse cuando no se use
unclutter -idle 15 &

# battery daemon
# mostrar advertencia cuando la bateria este en 10%
# ~/scripts/daemons/bin/bat_daemon /sys/class/power_supply/BAT*
